<div class="container mt-5">
  <div class="col-xs-12">
    <form #login="ngForm" (ngSubmit)="userLogin(login.value)">
      <div class="form-group">
        <h3>Login Page</h3>
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
          ngModel
          required
          email
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
          ngModel
          required
          placeholder="Password"
        />
      </div>
      <br>
      <button type="submit" class="mt2 btn btn-primary" [disabled]="!login.valid">
        Login
      </button>
    </form>
  </div>
</div>
